
body {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

h1 {color: rgb(12, 0, 106); text-align: left; }
h2 { }


th { text-align: left; border: 1px solid black; background-color: lightgray; font-size: 22px;}
td {background-color: rgb(230, 229, 229); padding: 5px; height: 100px; width: 33%;}



table {width: 100%; border-spacing: 10px;}
img {display: block; margin-left: auto; margin-right: auto; }















